* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
     color:#0062ff;
}


#navbar {
    background: linear-gradient(to bottom,rgb(13, 4, 4), #000000);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    text-align: center;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo img {
    width: 150px;
}

#navbar .cta-buttom {
    background-color:#7abaff;
    color: black;
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}

#layout {
    width: 600px;
    margin: 48px auto;
    font-size: 24px;
    height: 150vh;
    text-align: center;
    color: blue;
}

.column{
    writing-mode: vertical-lr;
    font-size: 150px;
    float: left;
    width: 50%;
    position:fixed;
}
.column-2{
    float: right;
    width: 50%;
   position:relative;
    padding-left: 100px;
}
 
@media only screen and (max-width: 600px) {
    .item1 {grid-area: 1 / span 6;}
    .item2 {grid-area: 2 / span 6;}
    .item3 {grid-area: 3 / span 6;}
    .item4 {grid-area: 4 / span 6;}
    .item5 {grid-area: 5 / span 6;}
  }
  
  @media only screen and (min-width: 600px) {
    .item1 {grid-area: 1 / span 6;}
    .item2 {grid-area: 2 / span 1;}
    .item3 {grid-area: 2 / span 4;}
    .item4 {grid-area: 3 / span 6;}
    .item5 {grid-area: 4 / span 6;}
  }
  
  @media only screen and (min-width: 768px) {
    .item1 {grid-area: 1 / span 6;}
    .item2 {grid-area: 2 / span 1;}
    .item3 {grid-area: 2 / span 4;}
    .item4 {grid-area: 2 / span 1;}
    .item5 {grid-area: 3 / span 6;}
  }